@import url(https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,100..900;1,100..900);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.navSection{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: rgb(17, 8, 42);
    color:white
}
.proSection{
  display: flex;
  background-color: white;
}

.imageBox{
  width: 80%;
  padding-left: 20px;
}

.proImage{
  width: 80%;
}
body{
  background-color: rgb(180, 199, 208);
}
.proTitle h2{
   margin: 10px;
}
.subMenu ul li{
  list-style: none;
  
}
.subMenu ul{
  display: flex;
  gap: 20px;
  padding: 10px;
}
.subMenu {
  background-color: rgb(17, 8, 42);
  color:silver
}
.pageSection{
  display: grid;
  grid-template-columns: repeat(4,300px);
  gap: 10px;
}
.pageImage{
  width: 300px;
  height: 300px;
}
.pageImgage img{
  width: 80%;
}
.ind-image{
  width: 500px;
  height: 500px;
}
.ind-section{
  display: flex;
}
.ind-image img{
  width: 100%;
}
.ind-details{
  padding: 20px;
}
.space{
  margin: 10px;
}
.ind-details button{
  padding: 10px;
  background-color: lightblue;
  width: 10rem;
  border-radius: 5px;
  columns: white;
}
.fullpage{
  display: flex;
}
.pro-selected{
  width:20%;
  border:1px solid black;
}
pro-input{
  margin: 5px;
}