@import url(https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,100..900;1,100..900);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.navSection{
    display: flex;
    justify-content: space-between;
    background-color: #2563eb;
    color:white
}
.logo h1{
    padding: 10px;
}
.proSection{
  display: flex;
  background-color: white;
}

.imageBox{
  width: 80%;
  padding-left: 10px;
}

.proImage{
  width: 100%;
}
body{
  background-color: white;
}
.proTitle h2{
   margin: 10px;
}
.subMenu ul li{
  list-style: none;
  
}
.subMenu ul{
  display: flex;
  gap: 20px;
  padding: 10px;
}
.subMenu {
  background-color: #f3f4f6;
  color: white;
}
.pageSection{
  display: grid;
  grid-template-columns: repeat(4,300px);
  gap: 10px;
}
.pageImage{
  width: 300px;
  height: 300px;
}
.pageImgage img{
  width: 80%;
}
.ind-image{
  width: 500px;
  height: 500px;
}
.ind-section{
  display: flex;
}
.ind-image img{
  width: 100%;
}
.ind-details{
  padding: 20px;
}
.space{
  margin: 10px;
}
.ind-details button{
  padding: 10px;
  background-color: lightblue;
  width: 10rem;
  border-radius: 5px;
  columns: white;
}
.fullpage{
  display: flex;
  background-color: white;
}
.pro-selected{
  width: 10%;
}
pro-input{
  margin: 5px;
}
.navLink {
  color: #2563eb;            
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s;
  padding: 8px 12px;
  border-radius: 4px;
}
.navLink:hover, .navLink:focus {
  color: #fff;
  background-color: #2563eb; 
  text-decoration: underline;
}
.cart{
  color:white;
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s;
  padding: 8px 12px;
  border-radius: 4px;
}
.cart:hover, .cart:focus {
  color: white; 
  text-decoration: underline;
}
.cart-section {
    display: flex;
    border: 3px double gray;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.cart-img img {
    width: 50%;
}

.cart-details {
    width: 50%;
}

.cart {
    color: white;
}

.cart span {
    color: orangered;
}

.cart span {
    font-size: x-large;
    margin-left: 5px;
    font-weight: 600;
}

.y-cart {
    text-align: center;
}
